body {
	background: #000;
	color: #fff;
	margin: 0;
	padding: 0;
}

h1 {
	text-align: right;
	margin: 0.3em 0;
}

h2 {
	margin: 0;
}

#panels {
	background: #fff;
	color: #000;
	margin: 0.5em 1em;
	padding: 0;
}

#controls {
	margin: 0 1em;
	padding: 0;
}
		

table {
	border-collapse: collapse;
	margin-top: 0.5em;
}

caption {
	font-weight: bold;
	font-size: 1.3em;
}

th, td {
	border: thin black solid;
	padding: 0.2em;
	vertical-align: top;
}

th {
	background: #eee;
}

label {
	display: block;
}

button {
	width: 15em;
	height: 5em;
	margin-top: 0.5em;
}

#button_go {
	background: #9e9;
}
#button_stop {
	background: #e99;
}
#button_step {
	background: #99e;
}
#button_reset {
	background: #f00;
	color: #fff;
}

.positions td,
.positions th {
	width: 9%;
	height: 4em;
}

#summary table {
	width: 100%;
	table-layout: fixed;
}

.trader {
	color: #090;
}
.pirate {
	color: #900;
}
.hunter {
	color: #009;
}

.skill1, .skill2 {
	font-size: 0.7em;
}
.skill3, .skill4 {
	font-size: 0.85em;
}
.skill5, .skill6 {
	font-size: 1.0em;
}
.skill7, .skill8 {
	font-size: 1.2em;
}
.skill9, .skill10 {
	font-size: 1.4em;
}
.skill11, .skill12 {
	font-size: 1.6em;
}

/* Tabs */

.panel {
	display: none;
	padding: 0.25em;
}
#summary {
	display: block;
}
#panelcontroller {
	margin: 0;
	padding: 0 0.5em;
	border: thin #999 solid;
	border-bottom: thick #ccc solid;
	width: auto;
}

#panelcontroller li {
	list-style-type: none;
	margin: 0.2em 0 0;
	padding: 0.5em;
	border: thin #999 solid;
	background: #999;
	color: #000;
	display: inline-block;
}

#panelcontroller li.selected {
	color: #040;
	background: #aaa;
}

.footer {
	text-align: right;
	padding: 0.5em;
	margin: 2.5em 0 0;
	background: #ccc;
	color: #000;
}